.testingAuth {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("sean-pollock-PhYq704ffdA-unsplash.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}
.container{
    width: 350px;
    display: flex;
    flex-direction: column;
    padding: 0 15px 0 15px;
    /* background-color: rgb(45, 45, 45); */
    border-radius: 20px;
    /* opacity: 0.95; */
    background: transparent;
    border: 2px solid rgba(255,255,255,0.5);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0,0,0,0.5);
    justify-content: center;
    
}

.top {
    border-radius: 12px;
    margin-top: 10px;
    color: white !important;
    font-size: 35px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.input-field .input{
    height: 45px;
    width: 96%;
    border: none;
    border-radius: 30px;
    color: #fff;
    font-size: 15px;
    padding: 0 0 0 15px;
    background: rgba(255,255,255,0.1);
    outline: none;
}

.input-field input[type="email"] {
    color: white !important;
}

input {
    margin: 11px 0;
    padding: 12px 16px;
    border-radius: 12px;
    border: 1.5px solid rgb(230, 232, 236);
}

.auth-options {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
}

.auth-options button {
    justify-content: center;
    align-items: center;
    width: 25%;
    border: none;
    padding: 5px;
    color: rgb(35, 38, 47);
    border-radius: 12px;

} 

.create {
    border: 1.5px solid rgb(108, 115, 148);
    color: rgb(108, 115, 148);
    text-transform: uppercase;
    border: none;
    border-radius: 30px;
    font-size: 15px;
    height: 45px;
    outline: none;
    width: 100%;
    color: black;
    background: white;
    cursor: pointer;
    transition: .3s ;
}

.create:hover {
    background-color: rgb(131, 138, 172);
}

.create:active {
    background-color: rgb(108, 115, 148);
    color: white;
}

::placeholder {
    color: white;
    opacity: 0.5;
}

.outer-bar {
    margin-left: 10px;
    width: 200px;
    height: 14px;
    /* background-color: #3e4396 !important; */
    background-color: #141b2d !important;
    border-radius: 7px;
    overflow: hidden;
}

.inner-bar {
    height: 14px;
    /* background-color: rgb(204, 204, 204) !important; */
    /* add fill for progress bar*/
    background-color: #3e4396 !important;

}


